$textDark: #234361; 
$blue : #1070CA; 
$textDefault: #425A70;
$lightBlue: #4DA8FF;
$lighterBlue: #DBEAF7;
$gray: #212528;
$windowBlack: #1E1E1E;
$consoleGrey: #464A4D;
$projectGrey: #808082;
$descriptionGrey: #A3A3A3;
$oceanBlue: #14B5D0;
$tablet: 768px;
$desktop: 960px; 
